.mood-element{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
    padding: 4rem;
}

.user-video-feed {
    width: 500px;
    aspect-ratio: 16 / 9;
    border-radius: 1.5rem;
    object-fit: cover;
}

.detect-btn{
    padding: 15px 25px;
    background-color: rgb(45, 42, 42);
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 0.7rem;
    outline: none;
    cursor: pointer;
}